@font-face {
    font-family: "Inclusive Sans", sans-serif;
    src: url(../fonts/InclusiveSans-Regular.ttf);
}

:root {
    --candyred: #ffadad;
    --candyorange: #ffd6a5;
    --candyyellow: #fdffb6;
    --candygreen: #caffbf;
    --candylightblue: #9bf6ff;
    --candyblue: #a0c4ff;
    --candypurple: #bdb2ff;
    --candypink: #ffc6ff;
    --candywhite: #fffffc;
    --candyblack: #353535;

    --theme: #e5989b;
    --bg: #6d6875;
    --secondary: #ffcdb2;
    --white: #f3eff5;
    --black: #333533;
}

body {
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    cursor: default;
}

html, body {
    height: 100%;
    margin: 0;
}

p, h1, h2, h3, h4, nav, li, ul, label, pre, form, fieldset, a, header, footer {
    color: var(--white);
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Inclusive Sans';
    color: var(--theme);
    white-space: nowrap;
    letter-spacing: -2px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

h3 {
    padding: 0px;
    padding-top: 25px;
    margin: 0px;
    font-weight: bolder;
    font-size: 22px;
}

p {
    padding: 0px;
    margin: 0px;
}

nav {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

.aboutimg {
    width: 200px;
    height: 200px;
    box-shadow: #ffffff00 5px 5px 10px;
    border: 2px solid var(--theme);
    border-radius: 250px;
    object-fit: cover;
}

footer {
    padding: 1rem;
    text-align:center;
}

.wrapper {
    min-height: 100vh;
}

main {
    flex: 1;
}

.no-decor {
    text-decoration: none;
    list-style: none;
    padding-left: 15px;
}

.tag {
  font-size: 0.8em;
  opacity: 0.6;
}

.active {
    text-decoration: underline;
    font-weight: bolder;
    color: var(--theme);
}


.lightmode {
    background-color: var(--white);
    color: var(--black);
}

.lightmode a, .lightmode h3, .lightmode h2, .lightmode ul, .lightmode li, .lightmode footer, .lightmode div, .lightmode p, .lightmode .tag, .lightmode h4 {
    color: var(--black);
}

.lightmode h1 {
    color: var(--black);
    text-shadow: var(--theme) 1px 1px 5px;
}

.lightmode .active {
    color: var(--black);
}

.lightmode .sideA {
    background-color: var(--theme);
    box-shadow: var(--theme) 10px 0px 10px;
}

.sideA {
    width: 500px;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: var(--theme) 10px 0px 10px;
    background-color: var(--black);
}

.sideB {
    flex: 1;
    padding: 15px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto;
    overflow-x: hidden;
}

.merger {
    display: flex;
    height: 100vh;
    flex-direction: row;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

h2 {
    gap: 0px;
    padding: 0%;
    margin: 0%;
    font-weight: bolder;
    color: var(--theme);
    white-space: nowrap;
    letter-spacing: -2px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.accessible a,  .accessible li, .accessible p {
    font-size: larger;
}

.accessible h3 {
    font-size: x-large;
}

input, textarea, fieldset {
    background-color: var(--black);
    border-radius: 5px; 
    border: var(--theme) solid 1px;
}

.btn {
    background-color: var(--white);
}

@media (orientation: portrait) {
    
    .merger {
      flex-direction: column; 
    }
  
    .sideA {
      width: 100%; 
      height: auto; 
      border-right: none;
      box-shadow: var(--theme) 0px 10px 10px;
    }

    .lightmode .sideA {
        background-color: var(--theme);
        border-right: none;
        box-shadow: var(--theme) 0px 5px 10px;
    }
  
    .sideB {
      flex: 1;
      margin: 25px;
    }
}